#define SIMPLE_MORPH(NAME, MOD, BINDING1, BINDING2) \
    ZMK_MOD_MORPH(NAME, \
        mods = <(MOD_L ## MOD|MOD_R ## MOD)>; \
        bindings = <BINDING1>, <BINDING2>; \
    )

// tap: qmark | shift + tap: excl
SIMPLE_MORPH(qexcl, SFT, &kp QMARK, &kp EXCL)

// Define "behaviors" for HRM chord
ZMK_BEHAVIOR(lpar, tap_dance,
    tapping-term-ms = <0>;
    bindings = <&kp LPAR>;
)

ZMK_BEHAVIOR(rpar, tap_dance,
    tapping-term-ms = <0>;
    bindings = <&kp RPAR>;
)

ZMK_TAP_DANCE(capsdance,
    tapping-term-ms = <QUICK_TAP_MS>;
    bindings = <&kp LSHIFT>, <&kp CAPSLOCK>;
)

ZMK_CONDITIONAL_LAYER(util, NAV NUM, UTIL)

ZMK_MACRO_ONE_PARAM(space_go,
    bindings = <&macro_param_1to1>, <&kp LG(MACRO_PLACEHOLDER)>;
)

ZMK_MACRO_ONE_PARAM(space_mv,
    bindings = <&macro_param_1to1>, <&kp LS(LG(MACRO_PLACEHOLDER))>;
)